<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true"
>
    <testsuites>
        <testsuite name="Unit">
            <directory>tests/Unit</directory>
        </testsuite>
        <testsuite name="Feature">
            <directory>tests/Feature</directory>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory>app</directory>
        </include>
    </source>
    <php>
        <env name="APP_ENV" value="testing"/>
        <env name="APP_MAINTENANCE_DRIVER" value="file"/>
        <env name="BCRYPT_ROUNDS" value="4"/>
        <env name="BROADCAST_CONNECTION" value="null"/>
        <env name="CACHE_STORE" value="redis"/>
        <env name="SESSION_DRIVER" value="array"/>
        <env name="MAIL_MAILER" value="array"/>
        <env name="QUEUE_CONNECTION" value="sync"/>
        <env name="REDIS_HOST" value="redis"/>
        <env name="REDIS_PORT" value="6379"/>
        <env name="REDIS_DB" value="2"/>
        <env name="REDIS_CACHE_DB" value="3"/>
        <env name="REDIS_USERNAME" value="redis_user_yl1j8s"/>
        <env name="REDIS_PASSWORD" value="oWnFOoKloAEiv9Siqbj9"/>
        <env name="REDIS_SCHEME" value="tls"/>
        <env name="REDIS_CAFILE" value="/certs/ca.crt"/>
        <env name="REDIS_CLIENT_CERT" value="/certs/client.crt"/>
        <env name="REDIS_CLIENT_KEY" value="/certs/client.key"/>
        <env name="REDIS_VERIFY_PEER" value="false"/>
        <env name="REDIS_VERIFY_PEER_NAME" value="false"/>
        <env name="PULSE_ENABLED" value="false"/>
        <env name="TELESCOPE_ENABLED" value="false"/>
        <env name="NIGHTWATCH_ENABLED" value="false"/>
    </php>
</phpunit>